@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

$base-font-weight: 100;
$light-font-weight: $base-font-weight * 1;
$regular-font-weight: $base-font-weight * 3;
$medium-font-weight: $base-font-weight * 4;
$bold-font-weight: $base-font-weight * 9;

$font-family: "Montserrat";
