@import "~/assets/scss/_colors.scss";
@import "~/assets/scss/_fonts.scss";

.question {
    border: 1px solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    max-width: 60%;
    width: fit-content;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

select {
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: montserrat;
    color: $primary;
    width: fit-content;
    border-bottom: 1px solid $primary;
    font-weight: $bold-font-weight;
}

.label {
    width: fit-content;
}

#skill {
    font-weight: $bold-font-weight;
}

.message-box {
    font-family: montserrat;
    color: $primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    font-family: montserrat;
    color: $primary;
    background-color: $secondary;
    border-radius: 1rem 1rem 1rem 1rem;
    border-width: 1px;
    font-size: 0.9rem;
}
