@import "~/assets/scss/_colors.scss";
@import "~/assets/scss/_fonts.scss";

.header {
    background-color: $secondary;
    box-shadow: 4px -2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $primary;
    height: 8%;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}

.logo {
    width: auto;
    height: 100%;
}

.profile-name {
    font-size: $font-size-lg;
    font-family: montserrat;
    color: $primary;
}

img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1rem;
    object-fit: fill;
}
