@import "~/assets/scss/_colors.scss";
@import "~/assets/scss/_fonts.scss";

.body--override {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    font-family: $font-family;
}

.nav-container {
    display: flex;
    background-color: $nav-colour;
    justify-content: space-around;
    align-items: center;
    min-height: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .nav-list {
        list-style: none;
        display: flex;
        gap: 6rem;
        a {
            color: black;
            font-size: 32px;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .navbar {
        font-family: "Montserrat";
    }

    > button {
        padding: 1rem;
        border-radius: 4rem;
        color: $text-colour-w;
        background-color: $button-color;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: bold;
    }

    .mmlogo {
        height: 7rem;
    }
}

.intro-wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;

    .intro-container {
        font-family: "Montserrat";
        text-align: center;
        font-size: 30px;
        max-width: 40rem;

        &__right {
            width: 40rem;
            padding-right: 3rem;

            > img {
                padding-top: 10rem;
                width: 100%;
            }
        }

        .intro {
            padding: 3rem 0;
        }

        @media screen and (max-width: 768px) {
            &__right {
                display: none;
            }
            .title {
                font-size: 16px;
            }
        }

        .title {
            font-weight: bold;
            font-size: 44px;
            margin: 0;
            padding-top: 15rem;
        }
    }
}

.root-container {
    .body {
        background-color: $body-colour;
        display: flex;
        flex-direction: column;

        > .nomosslogo {
            width: 15rem;
            height: 15rem;
            padding-left: 35px;
            padding-top: 16em;
        }
        .auth {
            font-family: "Montserrat";
            display: flex;
            justify-content: center;
            padding-top: 10px;
            gap: 3rem;
            .login {
                padding: 1rem 1.5rem;
                background-color: $button-color;
                border-radius: 2rem;
                color: $text-colour-w;
                text-decoration: none;
                font-size: 32px;
                display: flex;

                .login-logo {
                    display: flex;
                }
            }

            .signup {
                padding: 1rem 1.5rem;
                border-radius: 2rem;
                color: $text-colour-b;
                text-decoration: none;
                font-size: 30px;
                display: flex;
                gap: 5px;
                box-sizing: border-box;
            }
        }
    }

    hr {
        margin: 0;
    }
}
