@import "~/assets/scss/_colors.scss";
@import "~/assets/scss/_fonts.scss";

.searchbar {
    display: flex;
    justify-content: center; /* Center the search bar horizontally */
    padding: 1rem; /* Add some padding around the search bar */
    //   font-family: $font-family;
}

.date-input {
    padding: 10px; /* Add padding inside the input */
    border: 2px solid #007bff; /* Border color */
    border-radius: 20px; /* Rounded borders */
    outline: none; /* Remove default outline */
    width: 200px; /* Set a width for the input */
    transition: border-color 0.3s; /* Smooth transition for border color */
    background-color: $secondary;
}

.date-input:focus {
    border-color: #0056b3; /* Change border color on focus */
}

.flex-container {
    display: flex;
    font-family: $font-family;
    height: 100%;
    max-height: 100%;
}

.journal-history {
    width: 25%;
    overflow-y: auto;
    border-right: 1px $primary solid;
    // height: 100%;
    // max-height: 100%;
}

// .reflection-container {
//     overflow-y: auto;
// }

.chat-loaded {
    width: 75%;
}

li.reflection-item {
    border-top: 0.5px $primary solid;
    border-bottom: 0.5px $primary solid;
    border-right: 0.5px $primary solid;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    border-radius: 0.5rem;

    p {
        font-size: $base-font-size;
        padding: 0.25rem;
    }

    div {
        font-size: $base-font-size * 1.15;
        padding: 0.25rem;
    }
}

#recent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-xl;
    font-weight: bolder;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}
